# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Ghost specific
.ghost_stats.json
.ghost_config.json
*.lock
_trash/
info/

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
dist/
build/

# PyPI credentials
.pypirc
PROJECT_SOURCE_CODE.txt  # ghost: auto
